<div class="header">
	<div class="row">
		<div class="col-md-3 title">
			<h1>Money Notes</h1>
		</div>
	</div>
</div>

<div class="menu-bar">
	<div class="menu-content">
		<a href="/home" >Home</a>
	</div>
	<div class="menu-content">
		<a href="/income" >Income</a>
	</div>
	<div class="menu-content">
		<a href="/expense" >Expense</a>
	</div>
</div>