<html>
<head>
	{{> dependencies}}
</head>
<body>
{{> header}}

<div id="homepage">
	<div class="card-wraper">
		<div class="card-title">
			Welcome! Money Notes Authentication
		</div>
		<div class="card-content">
			<div class="row">
				<div class="col-md-4">
					<div class="row">
						<div class="col">
							<img class=" card-picture" src="/images/lock.png">
						</div>
					</div>
				</div>
				<div class="col-md-8">
					{{> server-success-message}}
					{{> server-error-message}}
					<template v-if="loginForm">
						<form action="/home/login" method="POST">
						 <div class="form-group row">
						    <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
						    <div class="col-sm-10">
						      <input type="username" name="username" class="text-form-input" id="inputUsername" placeholder="Username">
						    </div>
						 </div>
						 <div class="form-group row">
						    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
						    <div class="col-sm-10">
						      <input type="password" name="password" class="text-form-input" id="inputPassword" placeholder="Password">
						    </div>
						 </div>

						 <button type="button" v-on:click="registerBtnClick" class="btn-simple float-right">Register</button>
						 <button type="submit" class="btn-simple float-right" style="margin-right: 10px">Sign In</button>
						</form>
					</template>
					<template v-else>
						<form action="/home/register" method="POST">
						<div class="form-group row">
						    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
						    <div class="col-sm-10">
						      <input type="text" name="name" class="text-form-input" id="inputName" placeholder="Name">
						    </div>
						 </div>
						 <div class="form-group row">
						    <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
						    <div class="col-sm-10">
						      <input type="text" name="username" class="text-form-input" id="inputUsername" placeholder="Username">
						    </div>
						 </div>
						 <div class="form-group row">
						    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
						    <div class="col-sm-10">
						      <input type="password" name="password" class="text-form-input" id="inputPassword" placeholder="Password">
						    </div>
						 </div>

						 <button type="submit" class="btn-simple float-right" style="margin-right: 10px">Submit</button>
						</form>
					</template>
				</div>
			</div>
		</div>
	</div>
</div>
		
</body>
<footer>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="/js/pages/home.js"></script>
</footer>
</html>