<html>
<head>
	{{> dependencies}}
</head>
<body>
{{> header}}

<div class="wraper">
	<div class="row">
		<div class="col-md-2 sidebar">
			<div class="row">
				<div class="col">
					<h5><b>{{user}}</b></h5>
					<h6>Balance : </br> <b>Rp. 100.000</b></h6>
					<button class="danger-btn">Logout</button>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h4>Income Menu</h4>
					<div class="menu-sidebar">
						<a href="">Add new income</a>
						<a href="">View income reports</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			{{> title-box title="Add New Income"}}
			<div class="form-group row">
			    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
			    <div class="col-sm-10">
			      <input type="text" name="name" class="text-form-input" id="inputName" placeholder="Name">
			    </div>
			 </div>
			 <div class="form-group row">
			    <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
			    <div class="col-sm-10">
			      <input type="text" name="username" class="text-form-input" id="inputUsername" placeholder="Username">
			    </div>
			 </div>
			 <div class="form-group row">
			    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
			    <div class="col-sm-10">
			      <input type="password" name="password" class="text-form-input" id="inputPassword" placeholder="Password">
			    </div>
			 </div>
		</div>
	</div>
</div>

</body>
<footer>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="/js/pages/home.js"></script>
</footer>
</html>